In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
headers=['srcip','sport','dstip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss',
         'service','Sload','Dload','Spkts','Dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_depth',
         'res_bdy_len','Sjit','Djit','Stime','Ltime','Sintpkt','Dintpkt','tcprtt','synack','ackdat',
         'is_sm_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd','ct_srv_src',
         'ct_srv_dst','ct_dst_ltm','ct_src_ ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','Label']

In [3]:
data = pd.read_csv(r".\Datasets\UNSW-NB15_2.csv", names= headers)

C:\Users\sumit\AppData\Local\Temp\ipykernel_6932\1150938076.py:1: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r".\Datasets\UNSW-NB15_2.csv", names= headers)

In [4]:
data.head()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0,13,13,6,7,1,1,2,NaN,0
1,59.166.0.0,7832,149.171.126.3,5607,tcp,FIN,0.144951,5174,91072,31,...,0,13,13,6,7,1,1,2,NaN,0
2,59.166.0.8,11397,149.171.126.6,21,tcp,FIN,0.116107,2934,3742,31,...,1,1,2,7,5,1,1,4,NaN,0
3,59.166.0.0,3804,149.171.126.3,53,udp,CON,0.000986,146,178,31,...,0,13,13,6,7,1,1,2,NaN,0
4,59.166.0.8,14339,149.171.126.6,14724,tcp,FIN,0.038480,8928,320,31,...,0,8,20,7,5,1,1,4,NaN,0

In [5]:
data.shape

(700001, 49)

In [ ]:
data.replace(['-','NaN'],np.nan,inplace=True)

In [7]:
data.isnull().sum()

srcip                    0
sport                    0
dstip                    0
dsport                   0
proto                    0
state                    0
dur                      0
sbytes                   0
dbytes                   0
sttl                     0
dttl                     0
sloss                    0
dloss                    0
service             368322
Sload                    0
Dload                    0
Spkts                    0
Dpkts                    0
swin                     0
dwin                     0
stcpb                    0
dtcpb                    0
smeansz                  0
dmeansz                  0
trans_depth              0
res_bdy_len              0
Sjit                     0
Djit                     0
Stime                    0
Ltime                    0
Sintpkt                  0
Dintpkt                  0
tcprtt                   0
synack                   0
ackdat                   0
is_sm_ips_ports          0
ct_state_ttl             0
ct_flw_http_mthd    285256
is_ftp_login        307038
ct_ftp_cmd               0
ct_srv_src               0
ct_srv_dst               0
ct_dst_ltm               0
ct_src_ ltm              0
ct_src_dport_ltm         0
ct_dst_sport_ltm         0
ct_dst_src_ltm           0
attack_cat          647252
Label                    0
dtype: int64

In [8]:
data['service'].replace(np.nan,'Not_Known_service', inplace=True) 
data['service'].value_counts()

service
Not_Known_service    368322
dns                  169660
http                  65824
ftp-data              40394
smtp                  25860
ssh                   15051
ftp                   14425
pop3                    355
dhcp                     37
ssl                      32
snmp                     27
radius                    8
irc                       6
Name: count, dtype: int64

In [9]:
data['ct_flw_http_mthd'].replace(np.nan,'Not_Known_mthd', inplace=True) 
data['ct_flw_http_mthd'].value_counts()

ct_flw_http_mthd
0.0               348356
Not_Known_mthd    285256
1.0                64096
4.0                 2004
2.0                  156
9.0                   57
14.0                  28
16.0                  16
12.0                  12
6.0                   12
8.0                    8
Name: count, dtype: int64

In [10]:
data['is_ftp_login'].replace(np.nan,'Not_Known_login', inplace=True) 
data['is_ftp_login'].value_counts()

is_ftp_login
0.0                380328
Not_Known_login    307038
1.0                 12593
4.0                    32
2.0                    10
Name: count, dtype: int64

In [11]:
data['attack_cat'].replace(np.nan,'Not_Known_Attack', inplace=True) 
data['attack_cat'].value_counts()

attack_cat
Not_Known_Attack    647252
Generic              27883
Exploits             11103
 Fuzzers              4668
DoS                   4637
 Reconnaissance       3116
Analysis               608
Backdoor               370
 Shellcode             324
Worms                   40
Name: count, dtype: int64

In [ ]:
data.to_csv(r'.//Datasets//step1_cleanData.csv', index=False)